.size-1 {grid-column: 7 /  8;}
.size-2 {grid-column: 6 /  9;}
.size-3 {grid-column: 4 / 10;}
.size-4 {grid-column: 3 / 11;}
.size-5 {grid-column: 2 / 12;}
.size-6 {grid-column: 1 / 13;}

.size-1 img, .size-2 img, .size-3 img, .size-4 img, .size-5 img, .size-6 img, .size-7 img{width: 100%;}

figcaption {
    margin-top      : 0.5rem;
}