*{
	margin:0;
	padding:0;
	/*font-family: 'Open Sans', sans-serif;*/
}
*::-webkit-scrollbar{
	width: 0.20rem;
	height: 0.20rem;
}
*::-webkit-scrollbar-track{
	background: #1f1e1e;
}
*::-webkit-scrollbar-thumb{
	background:#c204aa;
}
body{
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}
/*Navigation Bar*/
/*#navbar{
	z-index: 1;
	position: fixed;
	top: 0px;
	width: 100%;
	display: block;
	background:#1f1e1e;
	transition: background-color 0.5s;
	font-family: 'Orbitron', sans-serif;
}
#navbar a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}
#navbar a:hover {
  background-color: #c204aa;
  color: black;
  font-weight: bolder;
  border-radius: 10%;
}*/

.ham{
	position: fixed;
	top: 2%;
	left: 2%;
}
.fa-bars{
	z-index: 1;
	color: grey;
	font-size: 3rem;
	transition: all 500ms;
}
.fa-times{
	color: white;
	font-size: 3em;
	transition: all 500ms;
}
.fa-bars:hover{
	color: #380101;
	transform: scale(1.1);
}

.fa-times:hover{
	color: red;
	transform: scale(1.1);
}

.navcont{
	width: 15%;
	height: 40%;
	position: fixed;
	z-index: 1;
	top: 2%;
	left: 2%;
	/*display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;*/
	transform: translateX(-15em);
	transition: all 1s ease;
}
.links{
	position: relative;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.links a , .links i{
	text-align: center;
	background-color: #1f1e1e;
	font-weight: bold;
	color: white;
	text-decoration: none;
	transition: all 500ms;
}
.links a{
	font-size: 2em;
}
.links a:hover{
	background-color: #7d827e;
	color: black;
	transform: scale(1.1);
}
/*Navigation Bar END*/


.meet-cont{
	width: 100vw;
	height: 100vh;
	/*background:#1f1e1e;*/
	background-image: url(kali.jfif);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#meet{
	position: relative;
	width: 100%;
	top: 50%;
	text-align: center;
	font-size: 6em;
	transform: translate(0 , -50%);
	transition: all 1s;
	color: white;

	/*font-size: 72px;*/
	background: -webkit-linear-gradient(white , black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cords{
	margin-top:2em;
	padding: 3em;
}
.cordtitle{
	width: 100%;
	text-align: center;
	font-size: 2em;
}

.wrap{
	margin-top: 2em;
	padding:2em;
	display: flex;
	justify-content: space-around;
}

.card{
	width: 25%;
	height: 25%;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 10px 10px 8px #a8a77e;
	border-radius: 8px;
}
.crdcont{
	overflow: scroll;
	min-height: 5em;
	max-height: 20em;
}
.card1{
	background-image: url(bill.jpg);
}
.card2{
	background-image: url(jeff.jpg);
}
.card3{
	background-image: url(sunil.jpg);
}
.card4{
	background-image: url(messi.jpg);
}
.card5{
	background-image: url(ronaldo.jpg);
}

.card6{
	background-image: url(messi.jpg);
}
.card7{
	background-image: url(syl.jpg);
}
.card8{
	background-image: url(sunil.jpg);
}
.card9{
	background-image: url(virat.jfif);
}
.card10{
	background-image: url(sunil.jpg);
}
.card11{
	background-image: url(ronaldo.jpg);
}


.crdcont{
	padding:1em;
	opacity: 0;
	background-color: black;
	box-shadow: 10px 10px 2px #a8a77e;
	border-radius: 8px;
	transition: all 1s;
}
p{
	color: white;
}

.card:hover .crdcont{
	opacity: 0.7;
}

.cores{
	margin-top:2em;
	padding: 3em;
}
.coretitle{
	width: 100%;
	text-align: center;
	font-size: 2em;
}

/*Footer*/

.footer{
	margin: 2% 0% 0% 0%;
	padding: 2% 5% 2% 5%;
	background-color: #18161a;
}
.footer p{
	text-align: center;
	font-size: 5em;
	color: white;
}
.footer a{
	text-decoration: none;
	color: none;
}
.icons{
	font-size: 5em;
}

.footwrap{
	margin:2% 5% 2% 5%;
	padding:1% 5% 1% 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
}

.fa-instagram {
	text-align: center;
	color: transparent;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
	-webkit-background-clip: text;
}

.fa-facebook {
	text-align: center;
	color: blue;
	background-color: #fff;
	border-radius: 50%;
}

.fa-phone-square-alt{
	text-align: center;
	color: green;
  	background-color: #fff;
  	border-radius: 50%;
}

.fa-at{
	text-align: center;
	color: transparent;
	background: -webkit-linear-gradient(45deg , #eb6157 , white);
	background-clip: text;
	-webkit-background-clip: text;
}
.tooltip{
	font-size:1.5em;
	font-weight: bold;
	background-color: white;
	border-radius: 5px;
	color: black;
	position: relative;
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;
}
.tt{
	text-align: center;
	width: 0;
	background-color: yellow;
}

.tt:hover .tooltip{
	opacity: 1;
	visibility: visible;
}
.notify{
	text-align: center;
}

.notify p{
	font-size: 2em;
	color: white;
}
.notify button{
	margin-top: 2em;
	background:-webkit-linear-gradient(0deg ,#356ec4 , white , #356ec4);
	width: 15em;
	height: 3em;
	font-size: 1.5em;
	font-weight: bolder;
	border-radius: 15em;
	transition: all 700ms ease;
}
.notify button:hover{
	box-shadow: 3px 1px 5px 2px white;
}


/*code for text reveal*/
.reveal{
	position: relative;
	opacity: 0;
	transition: all 1s ease;
}
.revealright{
	transform: translateX(100%);
}
.revealleft{
	transform: translateX(-100%);
}
.revealtop{
	transform: translateY(-100%);
}
.revealbottom{
	transform: translateY(100%);
}
.active{
	transform: translateX(0);
	transform: translateY(0);
	opacity: 1;
}
	/*code for text revel end*/

